/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import 'tailwindcss';

body{
  direction: rtl;
}
.flexBox{
  @apply
  h-[100vh]
  flex
  flex-col
  justify-between
}